:root {
    color-scheme: light dark;
    --legend-text: #000000ff;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
      --legend-text: #ffffffff;
    }
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body, html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
    margin: 0;
    height: 100%;
    width: 100%;
}

#presenceNetwork {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.conditional-break {
    flex-basis: 100%;
    height: 0;
}

/*
 We add a conditional break to force a 3 over 2 layout on mid-sized screens for
 the presence legend:

 [item][item][item]
    [item][item]

 For larger screens (iPads, etc.) we remove this restriction once we know that all
 items can fit on a single line:

     [item][item][item][item][item]
 */
@media only screen and (min-width: 470px) {
    .conditional-break {
        display: none;
    }
}

.legend>div {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: transparent;
    color: var(--legend-text);
    width: 6.5em;
    margin: 0.4em;
    text-align: center;
    font-size: 0.8em;
}

hr {
    border: none;
    border-top: 4px dotted #000;
    width: 75%;
}

hr.bluetooth {
    border-top: 3px dotted #0074d9;
}

hr.access-point {
    border-top: 3px dotted #00BC7F;
}

hr.p2p-wifi {
    border-top: 3px dotted #F856B3;
}

hr.hydra {
    border-top: 3px dotted #5F43E9;
}

hr.web-socket {
    border-top: 3px dotted #D35400;
}

